<% include ./partials/header.ejs %>
<div class='glavnina'>
  <div class='center-vertical'>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class='text-center'>BOSNAE TEAM UNITED BJJ – Sarajevo</h3>
          <div>
            <p class="text-center"><strong>Instruktor: </strong>Emir Alagić</p>
            <p class="text-center"><strong>Adresa: </strong>Stadion Grbavica, Sarajevo</p>
            <p class="text-center"><strong>Telefon: </strong>0038761749909</p>
            <p class="text-center"><strong>Email: </strong>emirbjj@gmail.com</p>
          </div>
        </div>
        <div class="col-md-12">
          <h3 class='text-center'>BOSNAE TEAM UNITED BJJ – Tuzla</h3>
          <div>
            <p class="text-center"><strong>Instruktor: </strong>Mensur Pašić</p>
            <p class="text-center"><strong>Adresa: </strong>Zlatarska 18, Tuzla</p>
            <p class="text-center"><strong>Telefon: </strong>0038761564366</p>
            <p class="text-center"><strong>Email: </strong>pasic.mensur@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ./partials/footer.ejs %>
