<% include ./partials/header.ejs %>

<div class="container" id="hljeb">
	<div class="image img-responsive"></div>​
	<div class="row">
        <div class="col-md-4 col-md-offset-2">
            
  	    	<h3>O klubu</h1>
              <p> Grupa entuzijasta na čelu sa Mensurom Pašićem (black belt) iz Tuzle odlučila se na korak osnivanja Bosanskog tima u ovoj sportskoj disciplini. Cilj ovog tima je okupiti što više klubova iz BiH u jedan tim kako bi zajedničkim snagama što bolje promovisali ovu vještinu kako u zemlji tako i inozemstvu.
                Brazilska Jiu Jitsa je relativno mlada borilačka vještina i kao takva relativno kratko na našoj sportskoj sceni.
                Imperativ ovog projekta da se Jiu Jitsu scena Bosne i Hercegovine što je moguće više ukrupni za dobrobit svih onih kojima je sport na prvom mjestu!
                Takodjer BiH i Sarajevo kao njen glavni grad nema organizaciju takmičenja u ovoj vještini. To će biti jedan od ciljeva ovog projekta. Potrudit će mo se da u BiH dovedemo što kvalitetnije ljude kada je BJJ u pitanju i da ovu vještinu promovišemo u najboljem svijetlu!
                Takodjer, jedan od ciljeva jeste i pokretanje škola za najmladje kako bi mladi naraštaji imalu priliku upoznati se sa ovom vještinom i sportom generalno.
                I na kraju članovi ovog projekta su:
                Grappling Tuzla
                Bosnae Team United Sarajevo
                Naravno ostali klubovi koji djele naše ideje su dobrodošli!
                Medjunarodni legitimitet i podršku ovoj priči je dao <strong>Sergio Zimmerman Canudo</strong> i team <strong>Pound for Pound</strong>! Takodjer je bitno naglasiti da će se Bosnae Team United na medjunarodnoj sceni predstavljati kao dio ove velike porodice!
                Na kraju hvala svima koji su pokrenuli ovu priču.
                Hvala svim trenerima koji su širili BJJ u BiH.
                Posebno hvala, Arwin Wider, Victor Cheng, Edin Zrno, Jasmin Poturović, Muhamed Nesiren, Slaven Planinić, Kenan Bajramović, Muamer Hasanagić R.I.P., Edin Seleskovic te naravno Mensur Pašić i Sergio Zimmerman Canudo!
                Osss!
             </p>
        </div>
        <div class="col-md-4">
            <h3 style="text-align:center">Šta je to BJJ?</h3>
            <p>BJJ je često nazivan i igrom “<strong>ljudskog šaha”</strong> zbog svoje kompleksnosti, ideologije da <strong>manja i fizički slabija osoba uz pomoć ove vještine može da porazi većeg i jačeg napadača, </strong>kao i zato što<strong>&nbsp;</strong>poseduje <strong>Brain over Brawn filozofiju</strong> ( um više nego snaga). Ova vještina je prvenstveno nastala, pogađate, u Brazilu,&nbsp;Rio de Janeiro, gdje 1925. <strong>Carlos Gracie&nbsp;</strong>otvara svoju akademiju.
            U početku ovaj Brazilac uči ljude klasičan Jiu Jitsu koji je njega naučio japanski imigrant <strong>Esai Maeda</strong>. Njegov najmlađi brat <strong>Helio Gracie</strong> nažalost zbog svoje sitne građe i slabog tijela ne može da trenira sa njim i ostalom braćom. Umjesto toga mladi Helio samo posmatra lekcije koje ostala braća drže.
            Tri godine kasnije splet okolnosti dovodi do toga da <strong>Helio mora da održi privatan trening jednom od učenika</strong> u odsustvu svoje braće, a snaga i građa mu zaista predstavljaju problem u izvođenju japanskih tehnika. Zbog toga on počinje da ih mijenja tako što <strong>koristi dejstvo poluge, brzinu, tajming i prirodne pokrete tijela umjesto sirove snage</strong>. Ovime počinje stvaranje vjerovatno najefikasnije parterske vještine do sada.</p></p>
            <p>Što se same vještine tiče, nemojte da vas zavara to što u njoj nema udaraca. <strong>Treninzi su naporni i iscrpljujući</strong>, zahtijevaju posvećenost, redovnost i ponavljanje tehnika dok ne postanu savršene. BJJ je vještina koja uopšte nije za šalu, većina poluga, ukoliko se izvede do kraja,&nbsp;<strong>prouzrokuje prelome i iščešenja.</strong> Gušenja, ukoliko se izvedu duže nego što je potrebno mogu dovesti do smrti usljed <strong>nedovoljnog dotoka kiseonika u mozak</strong>. A svako bacanje je potencijalna povreda, u zavisnosti od površine na kojoj se izvodi.</p>
            <p>Nemojte da vas ovo uplaši, ovo je <strong>divna vještina koja je zabavna za učenje</strong>, dobro utiče na razvoj mišića i kondiciju i može biti efikasno korištena u samoodbrani. Kao i kod većine vještina, trenira se u <strong>kimonou (Gi)</strong> i postoji sistem pojaseva. Njome mogu da se bave i djeca i odrasli.</p>
         </div>
	</div>
</div>


<% include ./partials/footer.ejs %>