<% include ./partials/header.ejs %>
<div class='glavnina'>
	<div class='center-vertical'>
		<div class="container">
			<h2 class='text-center'>Raspored za Sarajevo</h2>
			<table width="80%" align="center" >
		    <div>
		    	<tr>
		        <th class='dani'>Ponedjeljak</th>
		        <th class='dani'>Utorak</th>
		        <th class='dani'>Srijeda</th>
		        <th class='dani'>Cetvrtak</th>
		        <th class='dani'>Petak</th>
		        <th class='dani'>Subota</th>
		        <th class='dani'>Nedjelja</th>
			    </tr>
				</div>  
		    	<tr>
			      <td class="donja">17:45</td>
			      <td class="donja">17:15</td>
			      <td class="donja">17:45</td>
			      <td class="donja">17:15</td>
			      <td class="donja">20:15</td>
			      <td class="donja">17:15</td>
			      <td class="donja"></td>
		    	</tr>
		      <tr>
			      <td class="ukini">BJJ GI</td>
			      <td class="ukini">BJJ GI</td>
			      <td class="ukini">BJJ NoGi</td>
			      <td class="ukini">BJJ GI</td>
			      <td class="ukini">BJJ GI</td>
			      <td class="ukini">BJJ NoGI</td>
			      <td class="ukini">Rest</td>
		   		</tr>
		      <tr>
			      <td class="gornja">Do 19:00</td>
			      <td class="gornja">Do 19:00</td>
			      <td class="gornja">Do 19:00</td>
			      <td class="gornja">Do 19:00</td>
			      <td class="gornja">Do 22:00</td>
			      <td class="gornja">Do 19:00</td>
			      <td class="gornja"></td>
			    </tr>    
		  </table>
		</div>
		<div class="container">
			<h2 class='text-center'>Raspored za Tuzlu</h2>
			<table width="80%" align="center" >
		    <div>
		    	<tr>
		        <th class='dani'>Ponedjeljak</th>
		        <th class='dani'>Utorak</th>
		        <th class='dani'>Srijeda</th>
		        <th class='dani'>Cetvrtak</th>
		        <th class='dani'>Petak</th>
		        <th class='dani'>Subota</th>
		        <th class='dani'>Nedjelja</th>
			    </tr>
				</div>  
		    	<tr>
			      <td class="donja">17:45</td>
			      <td class="donja">17:15</td>
			      <td class="donja">17:45</td>
			      <td class="donja">17:15</td>
			      <td class="donja">20:15</td>
			      <td class="donja">17:15</td>
			      <td class="donja"></td>
		    	</tr>
		      <tr>
			      <td class="ukini">BJJ GI</td>
			      <td class="ukini">BJJ GI</td>
			      <td class="ukini">BJJ NoGi</td>
			      <td class="ukini">BJJ GI</td>
			      <td class="ukini">BJJ GI</td>
			      <td class="ukini">BJJ NoGI</td>
			      <td class="ukini">Rest</td>
		   		</tr>
		      <tr>
			      <td class="gornja">Do 19:00</td>
			      <td class="gornja">Do 19:00</td>
			      <td class="gornja">Do 19:00</td>
			      <td class="gornja">Do 19:00</td>
			      <td class="gornja">Do 22:00</td>
			      <td class="gornja">Do 19:00</td>
			      <td class="gornja"></td>
			    </tr>    
		  </table>
		</div>
	</div>
</div>

<% include ./partials/footer.ejs %>

