<% include ../partials/header %>

<div class='glavnina'>
	<div class='container'>
	   <h1>Dodaj novu sliku</h1>
	   <form action='/galerija' method='POST'>
	        <input type='text' placeholder='URL SLIKE' name='link[url]'>
	        <button class='btn btn-primary'>Dodaj</button>
	    </form> 
	</div>
</div>
<% include ../partials/footer %>
