// Footer styling
.footer {
  height: 109px;
  width: 100%;
  max-width: 100%;
  .background {
    background-color: $bojafootera;
    width: 100%;
  }
  h4 {
    color: white;
  }
  ul {
    margin-left: 30%;
    a{
      color: white
    }
    a:hover {
      color: $bojahovera;
    }
  }
  #logodno {
    width: 15%;
    margin-left: -45px;
    margin-right: 15px;
  }
  #slike {
      margin-top:25px;
  }
  #logodno2 {
      width: 13%;
  }
  #logo3 {
      width: 21%;
  }
}