/*Navbar Collapsed */
@media (max-width: 991px) {
    #slike {
        margin-top:0 ;
        text-align:center;
        margin-left: 130px
    }
    .glavnina {
    margin-top: 0px;
    padding-top: 115px;
    min-height: calc(100vh - 145px);
    }       
    ul {
    margin-left: 27%;
    }
    p {
        font-size: 2.3em;
    }
    .fa {
        font-size: 50px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        width: 40px;
        height: 5px;
        border-radius: 1px;
        margin: 6px 6px 6px 6px;
    }
        .navbar-brand {
        margin: 30px auto;
        font-size: 3em;
    }
    li {
        font-size: 1.5em;
    }
    h1, h2, h3, h5 {
        font-size: 3em;    
    }
    h4 {
        font-size: 1.7em;
    }
    .navbar-header {
        float: none;
     }
   
    .navbar-toggle {
        display: block;
        padding: 24px 24px;
        margin-right: 0px;
    }
    .navbar-nav>li>.dropdown-menu{
        font-size: 0.6em;
    }
    .navbar-inverse .navbar-toggle{
        border: 3px solid white;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        font-size: 1.9em;
        min-height: 385px
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
     /*since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
