.ukini {
	border-bottom: 0
	border-top: 0
}
.donja {
	border-bottom: 0
	border-top: 0
}
.gornja {
	border-top: 0
}
// Tabela za raspored
table {
	margin-top:20px;
	border: 1px solid black;
	text-align: center;
	background-color: $bojahovera
}
.dani {
	background-color:$bojafootera
}
th.dani {
		color:white
}
th {
	text-align: center
}